__pycache__/
*.pyc
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.hdf5
*.h5
logs/
.ipynb_checkpoints/
data_processing/raw_data
data_processing/processed
*.sbatch
*.slurm
*.sh
slurm-*.out
*.out
*.err
logs/
results/
out*/
*.log
*.json
!**/package.json
